/* Pizza Store Colors */
$blue: #49c6dd;
$blue-dark: #141424;
$rose: #bf9695;
$green: #1cba63;
$orange: #ff9600;
$red: #e54415;
$white: #ffffff;
$off-white: #f5f5f5;
$gray-light: #f7f6f6;
$gray-dark: #434344;
