@import "colors";
/* Pizza Store Color Names */
$primary: $blue-dark;
$highlight: $red;
$helper: $rose;
$info: $blue;
$success: $green;
$warning: $orange;
$error: $red;
$border: $gray-light;
$disabled: $gray-light;
$layout-light: $white;
$layout-medium: $off-white;
$layout-dark: $gray-dark;
/* Pizza Store Font */
$primary-font: 'Tajawal', sans-serif;
