@import "styles/app";
/* Admin Products List Styles Start Here */
.store-page {
  position: relative;
  .product-list-title {
    margin-bottom: 50px;
  }
  .add-new {
    position: absolute;
    top: 0;
    right: 0;
  }
  &.rtl {
    .add-new {
      right: auto;
      left: 0;
    }
  }
}

