<div class="cart-page" setRtl>
  <div class="no-items" *ngIf="!products.length">
    <h3 class="no-items">{{'CART.EMPTY' | translate}}</h3>
    <div class="go-to-list">
      <a href="javascript:" class="pizza-btn small accept" routerLink="/store/products">{{'CART.GO_TO_LIST' | translate}}</a>
    </div>
  </div>
  <div class="cart-items" *ngIf="products.length">
    <div class="row">
      <ng-container *ngFor="let product of products">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <ng-container *ngFor="let item of product | slice:0:1">
            <div class="product">
              <div class="product-image">
                <img [src]="item.image" [alt]="item.name" class="img-fluid">
              </div>
              <div class="product-details">
                <h3 class="product-title">{{item.name}}</h3>
                <p class="product-content">{{'ADMIN.ITEM.PRODUCT_CODE' | translate}}: {{item.code}}</p>
                <p class="product-content">{{'CART.COUNT' | translate}}: {{product.length}} {{'CART.ITEMS' | translate}}</p>
                <p class="product-content">{{item.price * product.length}} {{'CART.PRODUCTS_PRICE' | translate}}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="checkout">
      <a href="javascript:" class="pizza-btn small submit" (click)="checkout()">{{'CART.CHECKOUT' | translate}}</a>
    </div>
  </div>
</div>
